<section class="pet-index flex column align-center">
  <screen *ngIf="isShowAddPetModal" (closeModal)="closeModal($event)"></screen>
  <h2 class="index-title">My Pet App!</h2>
  <pet-filter></pet-filter>
  <button (click)="isShowAddPetModal = true" class="add" type="button" title="create pet">ADD</button>
  <!-- <pet-filter></pet-filter> -->
  <pet-list [pets]="pets$ | async" (deletePet)="deletePet($event)"></pet-list>

  <pet-edit *ngIf="isShowAddPetModal" (addPet)="addPet($event)" (closeModal)="isShowAddPetModal=false"></pet-edit>
</section>

<router-outlet></router-outlet>